# SQL queries from Python

In [30]:
import pandas as pd
import mysql.connector

### Connection

In [31]:
con = mysql.connector.connect(
    host = '127.0.0.1',
    user = 'root',
    passwd = 'GaboFuentes*3',
    database = 'sakila'
)

cursor = con.cursor()

### Querying and fetching

In [32]:
query = (
    'SELECT actor_id, first_name, last_name FROM actor '
    'WHERE actor_id > 150'
)

cursor.execute(query)

db = cursor.fetchall()

In [ ]:
for row in db:
    print(row)

### Import database

In [36]:
dataframe = pd.read_sql(query, con = con)
dataframe.head(5)

/Users/gabrielfuentes/opt/anaconda3/envs/ml39/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   actor_id first_name last_name
0       151   GEOFFREY    HESTON
1       152        BEN    HARRIS
2       153     MINNIE    KILMER
3       154      MERYL    GIBSON
4       155        IAN     TANDY